# langchain
# llama-cpp-python
huggingface_hub[cli]
colorama
uvicorn
fastapi
sse_starlette
safetensors
# exllama @ git+https://github.com/jllllll/exllama
sentencepiece>=0.1.99
# flash-attn
pypdf
pycryptodome
# flash-attn --no-build-isolation
# exllamav2
py7zr
eciespy
eth-keys
python-multipart>=0.0.22
ray[serve]
transformers
markdownify
openai
tiktoken
ocrmypdf
google-search-results
sentence-transformers
lm-format-enforcer
vllm
readability-lxml
selenium
fastapi-login
FlagEmbedding
pgvector
pyjwt>=2.10.1
passlib
lxml_html_clean
exllamav2
jsonpatch
jsonpath-ng
peft
redis
# pluggy
# rich

pypdfium2
nvidia-ml-py

psycopg2-binary==2.9.9
sqlalchemy==2.0.35
sqlmodel==0.0.22


marker-pdf==0.3.9
surya-ocr==0.6.11
