_libgcc_mutex==0.1=main
_openmp_mutex==5.1=1_gnu
aioboto3==11.3.0
aiobotocore==2.6.0
aiodns==3.0.0
aiofiles==23.2.1
aiohttp==3.8.5
aiohttp-retry==2.8.3
aioitertools==0.11.0
aiosignal==1.3.1
aiosqlite==0.18.0
aleph-alpha-client==2.17.0
amadeus==8.1.0
annotated-types==0.5.0
anyio==3.7.1
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
arxiv==1.4.8
asttokens==2.0.5
async-lru==2.0.4
async-timeout==4.0.3
atlassian-python-api==3.41.0
attr==0.3.2
attrs==23.1.0
audioread==3.0.0
authlib==1.2.1
awadb==0.3.10
azure-ai-formrecognizer==3.3.0
azure-ai-vision==0.11.1b1
azure-cognitiveservices-speech==1.31.0
azure-common==1.1.28
azure-core==1.29.2
azure-cosmos==4.5.0
azure-identity==1.14.0
babel==2.11.0
backcall==0.2.0
backoff==2.2.1
beautifulsoup4==4.12.2
bleach==4.1.0
blinker==1.6.2
boto==2.49.0
boto3==1.28.17
botocore==1.31.17
brotli==1.0.9
brotlipy==0.7.0
build==0.10.0
ca-certificates==2023.05.30
cachetools==5.3.1
certifi==2023.7.22
cffi==1.15.1
chardet==5.2.0
charset-normalizer==3.1.0
clarifai==9.7.1
clarifai-grpc==9.7.3
click==8.1.7
clickhouse-connect==0.5.25
cmake==3.27.2
cohere==4.20.2
comm==0.1.2
contourpy==1.1.0
cryptography==41.0.3
cycler==0.11.0
cyrus-sasl==2.1.28
dataclasses-json==0.5.14
datasets==2.14.4
dbus==1.13.18
debugpy==1.6.7
decorator==5.1.1
deeplake==3.6.25
defusedxml==0.7.1
deprecated==1.2.14
dill==0.3.7
diskcache==5.6.1
dnspython==2.4.2
docarray==0.32.1
docker==6.1.3
ds-utils==0.4.1
dsx==0.9.9
duckduckgo-search==3.8.5
elastic-transport==8.4.0
elasticsearch==8.9.0
emoji==2.8.0
entrypoints==0.4
esprima==4.0.1
exceptiongroup==1.1.3
executing==0.8.3
expat==2.5.0
faiss-cpu==1.7.4
fastapi==0.103.1
fastavro==1.8.2
feedparser==6.0.10
filelock==3.12.2
filetype==1.2.0
flask==2.3.3
fontconfig==2.14.1
fonttools==4.42.1
fsspec==2023.08.1
future==0.18.4
gast==0.4.1
gevent==21.12.0
gitdb==4.0.12
google==3.12.3
google-api-core==2.12.2
google-api-python-client==2.35.0
google-auth==2.0.7
google-auth-httplib2==0.1.5
google-auth-oauthlib==0.6.7
google-cloud==0.34.0
google-cloud-bigquery==2.30.0
google-cloud-bigtable==2.19.0
google-cloud-core==2.1.0
google-cloud-datastore==2.23.0
google-cloud-dlp==3.0.0
google-cloud-firestore==3.7.0
google-cloud-language==2.7.0
google-cloud-logging==2.9.0
google-cloud-pubsub==2.8.1
google-cloud-secret-manager==2.8.0
google-cloud-storage==1.47.2
google-cloud-translate==2.17.0
google-cloud-videointelligence==2.16.1
google-cloud-vision==2.9.0
google-crc32c==1.2.0
google-pasta==0.2.0
google-resumable-media==2.0.6
googleapis-common-protos==1.56.0
grafanalib==0.4.0
grpcio==1.43.0
grpcio-status==1.43.0
grpcio-tools==1.43.0
gtts==2.3.2
h5py==3.8.0
hachoir-core==3.1.0
hachoir-parser==1.3.6
hachoir-regex==1.0.5
hachoir-subfile==0.5.3
hachoir-urwid==1.1.2
hachoir==3.1.0
hdbcli==2.7.18
heroku==7.67.0
html5lib==1.1
httplib2==0.20.1
httpx==0.20.2
httpx-oauthlib==1.1.0
hug==2.6.0
http-prompt==1.1.0
httprepl==1.0.0
httpstat==1.2.0
humanize==3.1.0
hydra-core==1.1.1
hypothesis==7.24.5
icu==68.1
idna==3.3
ifaddr==0.1.13
imageio==2.12.1
importlib-metadata==5.5.0
iniconfig==2.2.0
ipykernel==7.10.2
ipython==8.0.1
ipython-genutils==0.2.0
ipywidgets==7.7.0
iso8601==1.0.3
itsdangerous==2.1.0
jedi==0.18.1
jeepney==0.7.0
jieba3k==0.36.1
jinja2==3.1.1
joblib==1.0.1
jupyter==1.0.0
jupyter-client==7.1.1
jupyter-console==7.1.1
jupyter-core==4.11.0
jupyterlab==4.1.0
jupyterlab-pygments==0.1.4
jupyterlab-widgets==1.1.0
kafka-python==2.1.1
keyring==23.2.1
kiwisolver==1.5.0
kivy==2.0.0
ldap3==2.10.1
lifelines==0.28.0
livereload==2.7.2
lxml==4.8.0
lxmls==1.0.0
lz4-c==1.10.2
markdown==3.4.1
MarkupSafe==2.2.1
marshmallow==3.15.0
matplotlib==3.4.3
mccabe==0.6.1
memoized-property==1.1.1
mido==1.2.9
mistune==0.8.4
mkl-fft==1.3.5
mkl-random==1.2.4
mkl-service==2.4.3
mlflow==1.21.3
mock==4.0.4
more-itertools==8.9.1
mplcursors==0.5
msal==1.19.0
msal-extensions==0.5.0
multidict==7.2.8
munch==2.8.1
mysql-connector-c-python==8.0.28
mysql-connector-python==8.0.29
natsort==7.1.1
nbclient==0.5.12
nbconvert==6.6.0
nbdime==3.1.0
nbformat==5.2.1
nest-asyncio==2.18.0
netcdf4==1.5.8
networkx==2.7.3
notebook==6.6.1
nteract-on-jupyter==2.1.3
numpy==1.22.2
oauthlib==3.2.0
ocrmypdf==13.2.0
odeintv==0.2.0
odoo==15.0.1.0
oauth2client==4.1.3
opencv-python-headless==4.5.1.48
opencv-python==4.5.1.48
openml==0.13.1
openpyxl==3.1.1
openstacksdk==0.59.0
openssl@1.1==1.1.1n
pandas==1.4.3
pandocfilters==1.5.0
parso==0.8.3
partd==1.2.0
patch-ng==1.16.0
path==21.1.0
pathlib==1.1.0
patsy==0.5.1
pdf2image==1.16.0
pdfkit==0.6.1
pdfminer.six==20201018
pebble==4.6.0
pexpect==4.8.0
pg8000==1.19.5
pickleshare==0.7.5
pillow==8.4.0
pipreqs==0.4.10
pluggy==0.13.2
pprintpp==0.4.0
progressbar==2.5
prometheus-client==0.11.0
prompt-toolkit==3.0.28
protobuf==3.19.1
psutil==5.8.0
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.9.7
pycosat==0.6.3
pycparser==2.22
pycryptodomex==3.10.1
pycurl==7.44.1
pydantic==1.11.0
pydeck==0.8.2
pydicom==2.2.2
pydub==0.26.0
pyflakes==2.6.0
pyglet==1.5.15
pygments==2.10.0
pyinstaller==4.8
pymysql==1.0.2
pynacl==1.4.0
pynvim==0.5.9
pyobjc-core==8.3
pyobjc-framework-AddressBook==8.3
pyobjc-framework-AppleScriptKit==8.3
pyobjc-framework-AppleScriptObjC==8.3
pyobjc-framework-ApplicationServices==8.3
pyobjc-framework-Automator==8.3
pyobjc-framework-AVFoundation==8.3
pyobjc-framework-AVKit==8.3
pyobjc-framework-BusinessChat==8.3
pyobjc-framework-CalendarStore==8.3
pyobjc-framework-CFNetwork==8.3
pyobjc-framework-CloudKit==8.3
pyobjc-framework-Cocoa==8.3
pyobjc-framework-Collaboration==8.3
pyobjc-framework-ColorSync==8.3
pyobjc-framework-Contacts==8.3
pyobjc-framework-ContactsUI==8.3
pyobjc-framework-CoreAudio==8.3
pyobjc-framework-CoreAudioKit==8.3
pyobjc-framework-CoreBluetooth==8.3
pyobjc-framework-CoreData==8.3
pyobjc-framework-CoreFoundation==8.3
pyobjc-framework-CoreHaptics==8.3
pyobjc-framework-CoreImage==8.3
pyobjc-framework-CoreLocation==8.3
pyobjc-framework-CoreMedia==8.3
pyobjc-framework-CoreMediaIO==8.3
pyobjc-framework-CoreML==8.3
pyobjc-framework-CoreMotion==8.3
pyobjc-framework-CoreServices==8.3
pyobjc-framework-CoreSpotlight==8.3
pyobjc-framework-CoreText==8.3
pyobjc-framework-CoreVideo==8.3
pyobjc-framework-CoreWLAN==8.3
pyobjc-framework-CryptoTokenKit==8.3
pyobjc-framework-DeviceCheck==8.3
pyobjc-framework-DeviceManagement==8.3
pyobjc-framework-DictationServices==8.3
pyobjc-framework-DiskArbitration==8.3
pyobjc-framework-Dispatch==8.3
pyobjc-framework-DVDPlayback==8.3
pyobjc-framework-EventKit==8.3
pyobjc-framework-ExceptionHandling==8.3
pyobjc-framework-ExecutionPolicy==8.3
pyobjc-framework-ExternalAccessory==8.3
pyobjc-framework-EyeTunes==8.3
pyobjc-framework-FinderSync==8.3
pyobjc-framework-ForceFeedback==8.3
pyobjc-framework-Foundation==8.3
pyobjc-framework-GameController==8.3
pyobjc-framework-GameKit==8.3
pyobjc-framework-GameplayKit==8.3
pyobjc-framework-ImageCaptureCore==8.3
pyobjc-framework-IMServicePlugIn==8.3
pyobjc-framework-InputMethodKit==8.3
pyobjc-framework-InstallerPlugins==8.3
pyobjc-framework-InstantMessage==8.3
pyobjc-framework-Intents==8.3
pyobjc-framework-IOBluetooth==8.3
pyobjc-framework-IOBluetoothUI==8.3
pyobjc-framework-IOKit==8.3
pyobjc-framework-ITunesLibrary==8.3
pyobjc-framework-JavaScriptCore==8.3
pyobjc-framework-Keyboard==8.3
pyobjc-framework-LatentSemanticMapping==8.3
pyobjc-framework-LaunchServices==8.3
pyobjc-framework-Lexicon==8.3
pyobjc-framework-LinkPresentation==8.3
pyobjc-framework-LocalAuthentication==8.3
pyobjc-framework-MapKit==8.3
pyobjc-framework-MediaAccessibility==8.3
pyobjc-framework-MediaLibrary==8.3
pyobjc-framework-Metal==8.3
pyobjc-framework-MetalKit==8.3
pyobjc-framework-MetalPerformanceShaders==8.3
pyobjc-framework-ModelIO==8.3
pyobjc-framework-ModuleKit==8.3
pyobjc-framework-MultipeerConnectivity==8.3
pyobjc-framework-NaturalLanguage==8.3
pyobjc-framework-NetworkExtension==8.3
pyobjc-framework-NotificationCenter==8.3
pyobjc-framework-OpenDirectory==8.3
pyobjc-framework-OSAKit==8.3
pyobjc-framework-OSLog==8.3
pyobjc-framework-PencilKit==8.3
pyobjc-framework-PerformanceAnalysis==8.3
pyobjc-framework-Photos==8.3
pyobjc-framework-PhotosUI==8.3
pyobjc-framework-PreferencePanes==8.3
pyobjc-framework-PubSub==8.3
pyobjc-framework-QTKit==8.3
pyobjc-framework-Quartz==8.3
pyobjc-framework-QuickLookThumbnailing==8.3
pyobjc-framework-ReadServer==8.3
pyobjc-framework-ReplayKit==8.3
pyobjc-framework-SafariServices==8.3
pyobjc-framework-SceneKit==8.3
pyobjc-framework-ScreenSaver==8.3
pyobjc-framework-ScriptingBridge==8.3
pyobjc-framework-SearchKit==8.3
pyobjc-framework-SEFoundation==8.3
pyobjc-framework-ServiceManagement==8.3
pyobjc-framework-Social==8.3
pyobjc-framework-SoundAnalysis==8.3
pyobjc-framework-Speech==8.3
pyobjc-framework-SpriteKit==8.3
pyobjc-framework-StoreKit==8.3
pyobjc-framework-SystemConfiguration==8.3
pyobjc-framework-TelephonyKit==8.3
pyobjc-framework-TextInput==8.3
pyobjc-framework-TextureIO==8.3
pyobjc-framework-Tk==8.3
pyobjc-framework-Turtle==8.3
pyobjc-framework-Typography==8.3
pyobjc-framework-UserNotifications==8.3
pyobjc-framework-VideoSubscriberAccount==8.3
pyobjc-framework-VideoToolbox==8.3
pyobjc-framework-WebKit==8.3
pyobjc-framework-WebKitLegacy==8.3
pyobjc-framework-XgridFoundation==8.3
pyOpenSSL==22.0.0
pyparsing==3.0.7
pyscreenshot==2.0.6
pysdl2==0.9.6
pysftp==0.2.9
pysmi==0.3.4
pyspark==3.2.0
pytest==7.1.4
python==3.9.7
python-apt==2.2.4
python-barcode==0.13.1
python-chess==1.4.1
python-constraint==1.4.1
python-crontab==2.5.2
python-dateutil==2.8.2
python-debian==0.1.44
python-dpapi==1.2.0
python-dotenv==0.19.2
python-engineio==5.6.0
python-gflags==3.1.3
python-multipart==0.0.5
python-socks==1.2.4
python-sympy==1.8
python-telegram-bot==21.0
python-titlecase==2.0.2
python-xlib==0.29
python-utils==2.7.1
python3-nmap==1.5.0
pytz==2021.5
pyzmq==22.2.1
qiskit==0.33.0
qiskit-aer==0.11.0
qiskit-aqua==0.10.0
qiskit-ibmq-provider==0.20.0
qiskit-ignis==0.6.0
qiskit-terra==0.18.0
qtconsole==5.2.1
qtpy==1.11.0
querystring-parser==1.2.4
qutip==5.1.3
r2py==0.2.8
rainbowstream==1.9.0
rasa==2.8.17
rasa-sdk==2.11.1
rasterio==1.3.7
ratelim==0.1.6
redis==3.7.2
regex==2021.11.24
requests==2.26.0
requests-file==1.5.1
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
resampy==0.2.3
rfc3339==7.1
rise==5.7.1
rope==0.21.1
rsa==4.8
ruamel.yaml==0.17.17
s3fs==2023.08.1
sagemaker==2.79.2
sagemaker-experiments==0.2.4
sagemaker-pyspark==1.9.1
sagemaker-studio==1.3.0
sagemaker-tensorflow==2.5.0
sagemaker-tensorflow-extensions==2.5.0
sagemaker-training==3.7.4
sagemaker-tuner==2.6.2
sagemaker-workflow==2.0.2
sagemaker-workshop==1.0.0
sagemaker==2.79.2
sagemaker-experiments==0.2.4
sagemaker-pyspark==1.9.1
sagemaker-studio==1.3.0
sagemaker-tensorflow==2.5.0
sagemaker-tensorflow-extensions==2.5.0
sagemaker-training==3.7.4
sagemaker-tuner==2.6.2
sagemaker-workflow==2.0.2
sagemaker-workshop==1.0.0
scikit-image==0.19.0
scikit-learn==0.24.2
scipy==1.7.3
scrapy==2.5.0
seaborn==0.11.2
selenium==3.141.0
sentry-sdk==1.16.4
serpy==0.4.1
setproctitle==1.2.2
simpleaudio==1.0.4
singledispatch==3.6.4
six==1.16.0
sklearn==0.0
smart-open==6.1.1
sniffio==2.0.5
snowballstemmer==2.1.0
sortedcollections==2.1.0
sortedcontainers==2.5.0
soupsieve==2.3.1
sox==1.4.2
sphinx-rtd-theme==0.5.2
sphinx==4.2.0
spidev==3.5
sqlalchemy==1.4.31
sqlparse==0.4.2
srsly==3.0.1
ssh-import-id==5.10
sseclient==0.0.27
starlette==0.15.0
statsmodels==0.13.4
strsim==0.1.9
sympy==1.10
tabulate==0.8.10
tai==0.10.1
tenacity==8.0.1
tensorboard==2.7.0
tensorboardX==3.5
tensorflow-cpu==2.7.0
tensorflow-estimator==2.7.0
tensorflow-io-gcs-filesystem==0.26.0
tensorflow-io==0.21.0
tensorflow-metadata==1.6.0
tensorflow-probability==0.15.1
tensorflow-serving-api==2.8.0
tensorflow-serving-api-gpu==2.8.0
tensorflow==2.7.0
tensorflow_gpu==2.7.0
termcolor==1.1.0
terminado==0.12.2
testpath==0.6.0
Theano==1.0.7
thinc==8.0.11
threadpoolctl==3.0.0
thrift==0.15.0
throttle==0.4.0
thulac==0.2.2
tika==1.24
tikzplotlib==0.9.9
toml==0.10.2
toolz==0.11.1
torch==1.10.0
torchsummary==1.5.1
torchtext==0.11.1
torchvision==0.11.2
tornado==6.1
tox==3.24.4
traitlets==5.2.0
traittypes==0.2.1
transformers==4.11.0
tweepy==4.2.2
twine==3.9.1
twitter==1.19
typed-ast==1.11.5
typing-extensions==3.10.0.2
ujson==4.3.0
umap-learn==0.5.1
unicodecsv==0.14.1
unidecode==1.3.2
universal-analytics-python==1.1.1
uritemplate==4.2.1
urllib3==1.26.9
vaderSentiment==3.3.2
validators==0.18.3
watchdog==2.1.6
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.57.0
websockets==10.0
werkzeug==2.1.2
wfdb==3.4.0
widgetsnbextension==3.5.2
win-inet-pton==1.1.0
wordcloud==1.10.3
wrapt==1.12.1
wsgi-request-logger==0.5.3
xarray==0.21.1
xgboost==1.5.0
xkit==0.0.0
xlrd==2.0.1
xmltodict==0.12.0
XlsxWriter==3.0.1
xlwt==1.3.0
yarl==1.7.0
yellowbrick==1.5.2
yfinance==0.1.64
youtube-dl==2022.9.27
zict==2.1.0
zipp==3.7.0
zmq==22.2.1